<h1>有效點擊分析</h1>

<h4>看出點擊與訂單的轉換率</h4>
<%=form_tag algo3_path,method:"get" do%> 
<p class="lead">年份搜尋
	<%=select_tag(:years, options_for_select([['選擇', nil],['2012', 2012], ['2013', 2013]])) %> 
	<%=submit_tag"搜尋",class:"btn btn-primary"%> 
	<%end%>
</p>
<div style="background-color:#4682b4; padding-top:10px; padding-buttom:10px;">
<h1 style="color:white"><%= @year%>產品分類加總</h1>
	<h3 style="color:white">點擊</h3>
	<table>
		<tr>
			<td class="text-right" style="width:600px">
				<%@click.each do|c|%> 
				<%=label_tag(c[0])%> &nbsp;
				<%=label_tag(c[1])%>|</br>
				<%end%>
			</td>
			<td class="text-left" style="color:white">
				<p>團體:
					<%=@click0%>+<%=@click1%>+<%=@click3%>+<%=@click5%>=<%=@clicksum%>次
				</p>
				<p>機票:
					<%=@click2%>次
				</p>
				<p>自由行:
					<%=@click4%>次
				</p>
			</td>
		</tr>
	</table>


	<h3 style="color:white"> 下單</h3>
	
	<table>
		<tr>
			<td class="text-right" style="width:600px">
				<%@order.each do|o|%>
				<%=label_tag(o[0])%> &nbsp;
				<%=label_tag(o[1])%>|</br>
				<%end%>
			</td>
			<td>

				<div class="text-left" style="margin-left:10px;color:white">
					<p>團體:<%=@order0%> 次</p>
					
					<p>自由行:<%=@order1%>次</p>
				</div>
			</td>
		</tr>
	</table>
</div>

<h1><%= @year%>有效點擊指數</h1>
<h4>有效點擊指數: (訂單數量/點擊數量)*100</h4>
團體點擊指數 <p class="text-info"><%=@proportion%></p>
機票點擊指數 <p class="text-success"><%=@proportionticket%></p>
自由行點擊指數 <p class="text-warning"><%=@proportionfree%></p>




